body {
  background: #336600;
  color: white;
  text-align: center;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.card {
  width: 6em;
}

.hidden { display:none; }